/* 表单行 */
.form{
	width: 100%;
}
.form .mui-input-row {
	height: 40px;
	margin: 10px 0;
}
.form .mui-input-row label {
	height: 40px;
	margin: 0;
	padding: 0;
	line-height: 40px;
}

/* 输入框 */
.form .mui-input-row label ~ input {
	/* background: #ddf; */
	padding-left: 10px;
	border: 1px solid #eee;
	border-radius: 0;
}
.form .mui-input-row label ~ input:focus {
	border: 1px solid #3e80cb;
}
.form .mui-input-row label ~ input[readonly] {
	background: #f5f5f5;
}

/* 带扫码的输入框 */
.form .mui-input-row .input-scan-wrapper {
	position: relative;
	display: flex;
	float: right;
	width: 65%;
	height: 40px;
	border: 1px solid #eee;
	background: #fff;
}
.form .mui-input-row .input-scan-wrapper .input-scan {
	flex: 1;
	height: 100%;
	margin: 0;
	padding-left: 10px;
	border: 0 !important;
	border-radius: 0;
	font-size: inherit;
	background: transparent;
}
.form .mui-input-row .input-scan-wrapper .icon-scan {
	width: 30px;
	height: 40px;
	background-image: url(../../res/common/scan2.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
}

/* 带日期的输入框 */
.form .mui-input-row .input-date-wrapper {
	position: relative;
	float: right;
	width: 65%;
	height: 40px;
	background: #fff;
}
.form .mui-input-row .input-date-wrapper .input-date {
	position: relative;
	z-index: 1;
	height: 100%;
	margin: 0;
	padding-left: 10px;
	border: 1px solid #eee !important;
	border-radius: 0;
	font-size: inherit;
	background: transparent;
}
.form .mui-input-row .input-date-wrapper .icon-calendar {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 40px;
	background-image: url(../../res/common/calendar.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
}

/* 选择框 */
.form .mui-input-row .select-wrapper {
	position: relative;
	float: right;
	width: 65%;
	height: 40px;
	background: #fff;
}
.form .mui-input-row .select-wrapper select {
	position: relative;
	z-index: 1;
	width: 100% !important;
	height: 100%;
	margin: 0;
	padding-left: 10px;
	border: 1px solid #eee !important;
	border-radius: 0;
	font-size: inherit;
	background: transparent;
}
.form .mui-input-row .select-wrapper .icon-arrow-down {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 40px;
	background-image: url(../../res/common/arrow-down.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
}
.form-title{
	color: #3E80CB;
	font-size: 16px;
	font-weight: bold;
	padding-left: 20px;
}
.mui-button-row button {
    width: 100%;
    margin-top: 15px;
    line-height: 2;
    background: #3E80CB;
    border: 1px solid #3E80CB;
}
.mui-button-row button img{
	height:28px;
	margin-right:-3px;
	margin-top:-3px;
	vertical-align: middle;
}