<div class="layui-card-header">
    <h2 class="header-title">修改密码</h2>
</div>
<div class="layui-card-body" style="padding: 30px;">
    <div class="layui-form" id="form-psw">
        <div class="layui-form-item layui-form-pane">
            <label class="layui-form-label">原密码</label>
            <div class="layui-input-block">
                <input type="password" name="oldPassword" required lay-verify="required|psw" class="layui-input"
                    placeholder="请输入原密码" lay-verType="tips">
            </div>
        </div>
        <div class="layui-form-item layui-form-pane">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input type="password" name="newPassword" required lay-verify="required|psw|diffpsw" class="layui-input"
                    placeholder="请输入新密码" lay-verType="tips">
            </div>
        </div>
        <div class="layui-form-item layui-form-pane">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" name="rePassword" required lay-verify="required|repsw" class="layui-input"
                    placeholder="再次输入新密码" lay-verType="tips">
            </div>
        </div>

        <div class="layui-form-item">
            <button class="layui-btn layui-btn-fluid layui-btn-normal" lay-submit lay-filter="submit-psw">确认修改</button>
        </div>
    </div>
</div>

<script>
    layui.use(['form', 'admin'], function () {
        var form = layui.form;
        var admin = layui.admin;
        var config = layui.config;

        //监听提交
        form.on('submit(submit-psw)', function (data) {
            data.elem.disabled = true;
            delete data.field.rePassword;
            admin.req('/api/updatePassword?oldPassword=' + data.field.oldPassword + '&newPassword=' +
                data.field.newPassword, {},
                function (res) {
                    if (res.ok) {
                        layer.msg('修改密码成功！请重新登录', {
                            icon: 1,
                            shade: 0.3
                        }, function () {
                            config.removeAccount();
                            location.replace('./login.html?redirect_to=' + window.location.hash);
                        });
                    } else {
                        data.elem.disabled = false
                        return layer.msg('修改密码失败：' + res.message, {
                            icon: 5
                        });
                    }
                }, {
                    method: 'put'
                });
        });

        //添加表单验证方法
        form.verify({
            psw: function (t) {
                if (!/^[A-Za-z0-9]{6,10}$/.test(t)) {
                    return '密码必须6-10位且不能纯数字';
                }
            },
            diffpsw: function (t) {
                if (t === $('#form-psw input[name=oldPassword]').val()) {
                    return '新旧密码不可以相同';
                }
            },
            repsw: function (t) {
                if (t !== $('#form-psw input[name=newPassword]').val()) {
                    return '两次密码输入不一致';
                }
            }
        });
    });
</script>