
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="resources/css/spread/gc.spread.sheets.excel2013white.12.0.6.css">
    <script src="resources/js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="resources/js/spread/gc.spread.sheets.all.12.0.6.min.js" type="text/javascript"></script>
    <script src="resources/js/spread/gc.spread.sheets.resources.zh.12.0.6.min.js" type="text/javascript"></script>
    <style>
        .sample-tutorial {
            position: relative;
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="sample-tutorial">
    <button id="change">变更单元格类型</button>
    <div id="ss" style="width:70%; height: 70%"></div>
</div>
<script>


    var spreadNS = GC.Spread.Sheets;

    $(document).ready(function () {
        var spread = new GC.Spread.Sheets.Workbook(document.getElementById("ss"));
        initSpread(spread);
    });

    // 重写Base类型
    var CustomBase = spreadNS.CellTypes.Base;

    // 要重写celltype的paint方法，需要保存原有的paint方法以供调用
    var oldPaint = spreadNS.CellTypes.Base.prototype.paint;

    CustomBase.prototype.paint = function (context, value, x1, y1, a1, b1, style, ctx) {
        if (!context) {
            return;
        }
        // 当标记为true时，绘制角标
        if(this.showEffect){
            context.save();
            let base = a1 > b1 ? b1 / 2 : a1 / 2;
            context.beginPath();
            context.moveTo(x1 + a1, y1);
            context.lineTo(x1 + a1, y1 + base);
            context.lineTo(x1 + a1 - base, y1);

            context.fillStyle ='red';
            context.fill();
            context.closePath();
            context.restore();
        }
        oldPaint.apply(this, [context, value, x1, y1, a1, b1, style, ctx]);
    };

    function initSpread(spread) {
        var sheet = spread.getSheet(0);
        sheet.suspendPaint();

        sheet.setRowHeight(0, 60);
        sheet.setColumnWidth(0, 150);

        // 需要创建一个新的TextCellType实例
        var myCellType = new spreadNS.CellTypes.Text();
        // 这句代码会导致所有单元格都显示角标
        // var myCellType = sheet.getCellType();

        // 设置参数为true时画圈，不设置或设置false时恢复
        myCellType.showEffect = true;

        sheet.setCellType(0,0, myCellType);

        sheet.resumePaint();

        $("#change").click(function () {
            myCellType = new spreadNS.CellTypes.Button();
            myCellType.showEffect = true;

            myCellType.text("Margin");
            myCellType.marginLeft(15);
            myCellType.marginTop(7);
            myCellType.marginRight(15);
            myCellType.marginBottom(7);

            sheet.setCellType(0,0, myCellType);
        });
    }


</script>
</body>
</html>