/* 表单行的宽度分布 */
.mui-input-row label {
	width: 30%;
}
.mui-input-row label~input {
	width: 70%;
}

/* 单选按钮组 */
.form .radio-group-row {
	height: auto;
}
.radio-group {
	display: flex;
	float: right;
	width: 70%;
	flex-wrap: wrap;
}
.radio-wrapper {
	display: flex;
	margin-right: 10px;
}
.radio-wrapper input[type=radio] {
	width: 24px;
	height: 40px;
	-webkit-appearance: none;
	background: none;
	border: 0;
}
.radio-wrapper input[type=radio]:before {
	content: "\e411";
	font-family: Muiicons;
	font-size: 24px;
	font-weight: 400;
	line-height: 40px;
	text-decoration: none;
	color: #aaa;
	border-radius: 0;
	background: 0 0;
	-webkit-font-smoothing: antialiased;
}
.radio-wrapper input[type=radio]:checked:before {
	content: "\e441";
	font-family: Muiicons;
	font-size: 24px;
	font-weight: 400;
	line-height: 40px;
	text-decoration: none;
	color: #3e80cb;
	border-radius: 0;
	background: 0 0;
	-webkit-font-smoothing: antialiased;
}
.radio-wrapper label {
	width: auto;
	float: none;
}

/* 底部按钮 */
.mui-button-row {
	padding: 0 10px;
}
