<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>模型预览</title>

<style type="text/css">
    .center-in-center {
        position: absolute;
        top: 40%;
        left: 46%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>

<link rel="stylesheet" href="../../assets/libs/layui/css/layui.css" />
<link rel="stylesheet" href="../../assets/css/admin.css" />
<link rel="stylesheet" href="../../assets/css/style.css">
<link rel="stylesheet" href="../../assets/css/theme.css" />
<link rel="stylesheet" type="text/css" href="../../assets/pivot.css">

<script type="text/javascript" src="../../assets/libs/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../assets/pivot.js"></script>
<script type="text/javascript" src="../../assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="../../assets/libs/jquery-ui-1.9.2.min.js"></script>
<script src="../../assets/echarts.js"></script>
<script src="../../assets/walden.js"></script>


<script type="text/javascript" src="../../assets/ec_renderers.js"></script>


<div id="output" class="center-in-center" style="margin: 30px;"></div>
<div style="text-align: center;position: absolute;bottom: 10px;left: 0;right: 0;">
    <button class="layui-btn layui-btn-normal" id="model_save" lay-submit lay-filter="model_save">保存</button>
    <button class="layui-btn layui-btn-primary" id="model_cancel" lay-submit lay-filter="model_cancel">取消</button>
</div>

<script>
    // var ary = sessionStorage.getItem("ary");
    // var x = sessionStorage.getItem("x");
    // var k = sessionStorage.getItem("k");
    var id = sessionStorage.getItem("id");


    var renderers = $.extend($.pivotUtilities.renderers,
        $.pivotUtilities.ec_renderers);
    var config_copy
    $.get('/api/model/model', {
        MId: id
    }, function(res) {
        $("#output").unbind();
        // $.getScript('../../assets/pivot.js')
        // $.getScript('../../assets/ec_renderers.js')
        $.get('/api/dataset/page', {
                Param: res.data[0].mparam,
                associates: res.data[0].massociates,
                tableName: res.data[0].mtables
            },
            function(info) {
                if (res.data[0].mconfig != null) {
                    var mconfig = eval('(' + res.data[0].mconfig + ')');
                    //console.log(mconfig)
                    var mps = info.data.list
                    $("#output").pivotUI(mps, {
                        onRefresh: function(config) {
                            config_copy = JSON.parse(JSON.stringify(config));
                            //delete some values
                            delete config_copy["aggregators"];
                            delete config_copy["derivedAttributes"];
                            delete config_copy["hiddenAttributes"];
                            delete config_copy["hiddenFromAggregators"];
                            delete config_copy["hiddenFromDragDrop"];
                            delete config_copy["menuLimit"];
                            delete config_copy["unusedAttrsVertical"];
                            delete config_copy["autoSortUnusedAttrs"];
                            delete config_copy["showUI"];
                            delete config_copy["sorters"];
                            delete config_copy["inclusionsInfo"];
                            delete config_copy["renderers"];
                            //delete some bulky default values
                            delete config_copy["rendererOptions"];
                            delete config_copy["localeStrings"];
                            //console.log(config_copy)


                        },

                        "showUI": true,
                        "rows": mconfig.rows,
                        "cols": mconfig.cols,
                        "rendererName": mconfig.rendererName,
                        "aggregatorName": mconfig.aggregatorName,
                        "colOrder": mconfig.colOrder,
                        "exclusions": mconfig.exclusions,
                        "inclusions": mconfig.inclusions,
                        "rowOrder": mconfig.rowOrder,
                        "vals": mconfig.vals,
                        "renderers": renderers
                    });
                } else {
                    var mps = info.data.list
                    $("#output").pivotUI(mps, {
                        onRefresh: function(config) {
                            config_copy = JSON.parse(JSON.stringify(config));
                            //delete some values
                            delete config_copy["aggregators"];
                            delete config_copy["derivedAttributes"];
                            delete config_copy["hiddenAttributes"];
                            delete config_copy["hiddenFromAggregators"];
                            delete config_copy["hiddenFromDragDrop"];
                            delete config_copy["menuLimit"];
                            delete config_copy["unusedAttrsVertical"];
                            delete config_copy["autoSortUnusedAttrs"];
                            delete config_copy["showUI"];
                            delete config_copy["sorters"];
                            delete config_copy["inclusionsInfo"];
                            delete config_copy["renderers"];
                            //delete some bulky default values
                            delete config_copy["rendererOptions"];
                            delete config_copy["localeStrings"];
                            //console.log(config_copy)


                        },

                    });
                }

            });
    });

    $('#model_save').on('click', function() {
        //console.log(JSON.stringify(config_copy))
        $.ajax({
            url: '/api/model/model/saveConfig/' + id + '/' + JSON.stringify(config_copy),
            type: "post",
            success: function() {
                layui.use('layer', function() {
                    return layer.msg('保存成功', {
                        icon: 1
                    });
                });
            }
        })

    });
    $('#model_cancel').on('click', function() {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    });
</script>