html,body{
	margin: 0;
	padding: 0;
	width: 100%;height: 100%;
}
header{
	background: #FFAA00;
}
.mui-content{
	width: 100%;height: 100%;
	background: #F5F5F5;
}
ul,ol,li{
	margin: 0;
	padding: 0;
}
ul li,ol li{
	list-style: none;
}
img,a,label,span,label,p{
	display: inline-block;
}
input,select,textarea,button{
	margin: 0;padding: 0;
}

#login {
  background: #FFFFFF;
  width: 100%;
  min-height: 550px;
  height: 100%;
  position: relative;
}
.login-body {
  position: absolute;
  top: 45%;
  width: 100%;
  height: 400px;
  transform: translateY(-50%);
  /* background: #eef; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_img {
  width: 105px;
  height: 105px;
  background: url(../../res/login/logo1.png);
  background-size: 100% 100%;
}
.companyName {
  font-weight: bold;
  color: #408EDE;
  font-size: 15px;
}
.engName {
  font-size: 10px;
  opacity: .5;
  margin-bottom: 37.5px;
}
.login_ipt {
  margin-bottom: 15px;
  height: 45px;
  position: relative;
}
.login_ipt input {
  min-width: 275px;
  height: 100%;
  border: 1px solid #408EDE;
  border-radius: 5px;
  margin-bottom: 0;
  padding-left: 35px;
  font-size: 15px;
  background: #FFFFFF;
}
#name {
  /* background: url(../../res/login/zhanghao.png) no-repeat 5% 50%; */
  /* background-size: 0.4rem 0.4rem; */
}
#password {
  /* background: url(../../res/login/mima.png) right center no-repeat; */
  /* background-position-x: 0.2rem; */
  /* background-size: 0.4rem 0.4rem; */
}
.icon {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  width: 35px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.user-icon {
  background-image: url(../../res/login/zhanghao.png);
}
.password-icon {
  background-image: url(../../res/login/mima.png);
}
.mui-icon-clear {
  width: 35px !important;
  height: 45px !important;
  top: 0 !important;
  right: 0 !important;
  background-image: url(../../res/login/shanchu.png);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.mui-icon-clear:before {
  content: "";
}
.mui-icon-eye {
  width: 35px !important;
  height: 45px !important;
  top: 0 !important;
  right: 0 !important;
  background-image: url(../../res/login/yincangbukejian.png);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.mui-icon-eye:before {
  content: "";
}
.mui-icon-eye.mui-active {
  background-image: url(../../res/login/kejian.png);
}
/*
.login_ipt.wrong {
  background: #FFFFFF;
} */
.login_ipt.wrong > input {
  color: #FF0000;
}
input::-webkit-input-placeholder {
  color: #9C9C9C;
}
.login_btn {
  width: 275px;
  height: 45px;
}
.login_btn > button {
  width: 275px;
  height: 45px;
  background: #408EDE;
  box-shadow: 0 5px 5px #ddd;
  border-radius: 5px;
  color: #FFFFFF;
  border: 0;
  font-size: 20px;
}
.footer {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.companyName.bottom {
  color: #999999;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 9px;
}
.companyEngName.bottom {
  color: #666666;
  font-size: 9px;
  text-align: center;
  letter-spacing: -0.5px;
  opacity: 0.5;
  line-height: 1.5;
}

body{
	/* font-family: PingFangSC-Medium,PingFangSC-Regular,"microsoft yahei",Georgia,Serif; */
	font-family:PingFangSC-Medium,PingFangSC-Regular,"microsoft yahei","黑体",sans-serif;
}
[v-cloak]{
	display: none;
}
header{
	background: #3E80CB;
}
header.mui-bar-nav{
	background: #3E80CB;
	color: white;
}
.mui-bar .mui-title{
	color: white;
}
.mui-bar a{
	color: white;
}
nav.mui-bar-tab{
	background: white;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
}
/*nav span.mui-icon{
	display: inline;
	width: 24px;height: 24px;
}*/
nav span.mui-icon>img{
	width: 24px;height: 24px;
}
nav span.mui-tab-label{
	color: #7F7F7F;
}
.mui-tab-item{
	width: 100%;
	text-align: center;
	font-size: 12px;
}
.mui-tab-item>.tab-icon{
	width: 24px;height: 24px;
	display:block;
	margin: 0 auto;
	filter: grayscale(100%);
	opacity: 0.6;
}

.mui-tab-item.mui-active>.tab-icon{
	filter:none;
	opacity: 1;
}

/* 下拉加载滚动容器 */
.mui-scroll-wrapper {
	top: 44px;
}

/* 顶部标题栏的样式调整 */
.mui-pull-right{
	margin-left: 5px!important;
}
/* 搜索条的样式 */
.search-bar{
	font-size: 0px;
	padding:8px;
	height:50px;
	display: flex;
	background: white;
	margin-top:10px;
	z-index:5000;
}
.search-bar-top{
	position:fixed;
	top:44px;
	z-index:5000;
	margin-top:0px;
}
.search-bar-top+div{
	/* padding-top:50px!important; */
	/* margin-top:0px!important; */
}
.search-bar>*{
	display: inline-block;
	/* height:100%!important; */
	vertical-align: middle;
}
/* 下拉框 */
.search-bar select{
	width:6.5em;
	line-height: 34px;
	padding-left: 8px;
	color:#545454;
	/* -webkit-appearance:menulist!important; */
	/* border-radius: 3px 0px 0px 3px;
	border: 1px solid rgb(211,211,211)!important;
	border-right: none!important; */
}
.search-bar input[type=checkbox]{
	top:6px;
	right:5px;
}
/* 搜索输入框 */
.search-bar .input-wrapper .mui-input{
	border:none;
	font-size: 14px;
	-webkit-user-select: auto;
	width: 100%;
	height: 32px;
	vertical-align: top;
	flex: 1;
}
/* 搜索按钮图标 */
.search-bar .mui-icon{
	line-height: 32px;
	color: #3676CD;
	transform: translateX(8px);
	position: absolute;
	right: 15px;
	top: 0px;
}
.search-bar button{
	border-radius: 1px 3px 3px 1px;
}
.search-bar .mui-checkbox{
	font-size: 14px;
	line-height: 34px;
	width:110px;
	padding-left: 5px;
}
.search-bar .mui-checkbox label{
	padding-right: 30px;
}
.search-bar .mui-checkbox input:before{
	font-size:22px;
}
.search-bar+.mui-scroll-wrapper{
	padding-top: 50px;
}
/* 定义方形的mui 复选框 */
.mui-checkbox-square input{
	margin: 5px auto 5px auto;
	height: 20px!important;
}
.mui-checkbox-square input[type=checkbox]:before{
    content: '\e413'!important;
	font-size: 20px;
}
.mui-checkbox-square input[type=checkbox]:checked:before{
	content: '\e443'!important;
}

/* 弹出窗口的样式优化 */
div.mui-popup-input[name=commonDialog] .mui-input-group{
	margin:0;
}
div.mui-popup-input[name=commonDialog] .mui-input-row label{
	padding: 10px 5px!important;
}
div.mui-popup-input[name=commonDialog] .mui-input-row:after {
	left: 8px;
	right: 8px;
}
div.mui-popup-input[name=commonDialog] input{
	margin-top: 6px;
}
/* 对标题栏个别图标的优化,显示大一些 */
header .mui-icon-refreshempty{
	font-size: 35px;
    margin-top: -5px;
}
